<div class="breadcrumbs-section ptb-50">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">

                        <nav class="" role="navigation" aria-label="breadcrumbs">
                            <ul class="breadcrumb-list">
                                <li>
                                    <a asp-controller="Home" asp-action="Index" title="Back to the home page">Home</a>
                                </li>
                                <li>
                                    <span>about</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

